/* src/pages/home.css */
.home-container {
  width: 100%;
  background-color: #fbf9f9;
  padding: 2rem;
  min-height: 100vh;
}

.slogan-banner {
  position: relative;
  width: 100vw;
  margin-left: calc(-50vw + 43.9%);
  margin-top: 70px;
  background-color: #000; 
  color: #ffd60a; 
  text-align: center;
  padding: 2rem 3rem 2rem 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  overflow: hidden;
}

/* 背景層 */
.slogan-banner::before {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url('/banner/banner.jpg');
  background-size: cover;
  background-position: center 55%;
  filter: blur(1px); /* 虛化效果 */
  opacity: 0.4; /* 調整透明度 */
  z-index: 0;
}

/* 讓文字內容置於背景上層 */
.slogan-banner > * {
  position: relative;
  z-index: 1;
}

.mouse-slider {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  cursor: default;
}

.mouse-slider::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.mouse-slide {
  display: inline-block;
  width: 472px;
  margin-right: 10px;
}

.mouse-slide img {
  width: 100%;
  height: auto;
  display: block;
}


.grid-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px;
  transition: transform 0.3s ease;
}

.grid-item img:hover {
  transform: scale(1.08);
}

/* Lightbox */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.2);
  transition: transform 0.3s ease;
}

img {
  user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.gallery-section {
  padding: 60px 20px;
  background-color: #fbf9f9;
}

.gallery-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
  color: #333;
  position: relative;
}

.gallery-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background-color: #e8b558;
  margin: 12px auto 0;
  border-radius: 2px;
}
